@import "colors.css";

* {
  border: none;
  border-style: solid;
  border-width: 0px;
  border-radius: 0;
  font-family: Mononoki Nerd Font;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @on_surface; /* MUI: on_surface */
}

tooltip {
  background: @surface_dim; /* MUI: surface_dim */
  border-radius: 15px;
  border-color: @surface_container_low; /* MUI: surface_container_low */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#workspaces {
  background-color: @surface; /* MUI: surface */
  border-radius: 15px 0 0 15px;
  padding: 3px 0;
}

#workspaces button {
  padding: 3px 0;
  color: @on_surface; /* MUI: on_surface */
}

#workspaces button.focused {
  color: @on_primary; /* MUI: on_primary */
  background-color: @primary_container; /* MUI: primary_container */
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#workspaces button.urgent {
  color: @on_error; /* MUI: on_error */
  background-color: @error_container; /* MUI: error_container */
  border-radius: 15px;
}

#workspaces button:hover {
  background-color: @primary_container; /* MUI: primary_container */
  color: @on_primary; /* MUI: on_primary */
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

#language,
#clock,
#battery,
#pulseaudio,
#bluetooth,
#network,
#workspaces,
#backlight,
#tray,
#temperature,
#cpu,
#memory,
#custom-power,
#custom-scratchpad-indicator,
#custom-telegram,
#mpd,
#scratchpad,
#custom-inhibitor,
#custom-media,
#idle_inhibitor {
  background-color: @surface; /* MUI: surface */
  padding: 5px 10px;
  margin: 5px 0;
  color: @on_surface; /* MUI: on_surface */
}

#clock {
  border-radius: 0 15px 15px 0;
  margin-right: 10px;
}

#battery.warning:not(.charging) {
  background-color: @error_container; /* MUI: error_container */
  color: @on_error; /* MUI: on_error */
}

#network {
  border-radius: 0;
}
